<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="test.html" />
                <add value="WilmMfgCriticalSystemsDashboard_Rev07.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
